.property-img-thumb{height:180px}   
    .advance-search-header, 
    .advanced-search-mobile, 
    .advanced-search-mobile .single-search .form-control,
    .search-expandable .advanced-search {
        xbackground-color: #004274;
        box-shadow: 0px 3px 10px -2px #000;
        z-index: 1;
    }
    .search-expand-btn {
        background-color: #00aeef;
    }
    .search-expand-btn {
        color: #ffffff
    }
    .advance-search-header .houzez-theme-button,
    .advanced-search-mobile .houzez-theme-button,
    .splash-search .btn-secondary,
    .advanced-search .btn-secondary {
        color: #ffffff;
        background-color: #00aeef;
        border: 1px solid #00aeef;
    }
    .advance-search-header .houzez-theme-button:focus,
    .advanced-search-mobile .houzez-theme-button:focus,
    .advanced-search .btn-secondary:focus,
    .splash-search .btn-secondary:focus {
        color: #ffffff;
        background-color: #007baf;
        border: 1px solid #007baf;
    }
    .advance-search-header .houzez-theme-button:hover,
    .advanced-search .btn-secondary:hover,
    .advanced-search .btn-secondary:active,
    .advanced-search .btn-secondary:active:hover,
    .advanced-search .btn-secondary.active,
    .advanced-search-mobile .houzez-theme-button:hover,
    .splash-search .btn-secondary:hover {
        color: #ffffff;
        background-color: #007baf;
        border: 1px solid #007baf;
    }
    .advance-search-header .houzez-theme-button:active,
    .advanced-search .btn-secondary:active,
    .advanced-search-mobile .houzez-theme-button:active,
    .splash-search .btn-secondary:active {
        color: #ffffff;
        background-color: #004274;
        border: 1px solid #004274;
    }
    /*.advanced-search .form-control,
    .advance-search-header .bootstrap-select .btn,
    .advance-search-header .bootstrap-select .fave-load-more a,
    .fave-load-more .advance-search-header .bootstrap-select a,
    .advance-fields .form-control{
        border: 1px solid #cccccc;
    }*/
   /* .advanced-search .input-group .form-control,        
    .search-long .search input,
    .advanced-search .search-long .search,
    .advanced-search .search-long .btn-group,
    .advanced-search .search-long .advance-btn,
    .input-group-addon {
        xborder-color: #cccccc !important;
    }*/
    .advanced-search-mobile .advance-fields {
        border-top: 1px solid #cccccc;
    }
    .advanced-search-mobile .single-search-wrap button {
        color: #cccccc;
    }

    .advanced-search-mobile .advance-fields::after {
        border-bottom-color: #cccccc;
    }
    .advanced-search-mobile .single-search-inner .form-control::-moz-placeholder {
        color: #cccccc;
    }
    .advanced-search-mobile .single-search-inner .form-control:-ms-input-placeholder {
        color: #cccccc;
    }
    .advanced-search-mobile .single-search-inner .form-control::-webkit-input-placeholder {
        color: #cccccc;
    }
    .advance-btn.blue {
        color: #ffffff;
    }
    .advance-btn.blue:hover,
    .advance-btn.blue:focus {
        color: #007baf;
    }
    .advanced-search .advance-btn {
        color: #00AEEF;
    }
    .advanced-search .advance-btn:hover {
        color:#00AEEF;
    }
    .advanced-search .advance-btn:focus,
    .advanced-search .advance-btn.active {
        color:#00AEEF;
    }
    .advanced-search .advance-fields,
    .advanced-search .features-list label.title,
    .advanced-search .features-list .checkbox-inline,
    .advanced-search-mobile .advance-fields,
    .advanced-search-mobile .features-list label.title,
    .advanced-search-mobile .features-list .checkbox-inline,
    .range-title,
    .range-text,
    .range-text p,
    .min-price-range,
    .max-price-range,
    .advanced-search-mobile, 
    .advanced-search-mobile .single-search-inner .form-control {
        color: #ffffff;
    }
    .advanced-search-mobile .single-search-inner .form-control::-moz-placeholder {
        color: #ffffff !important;         
    }
    .advanced-search-mobile .single-search-inner .form-control:-ms-input-placeholder {
        color: #ffffff !important;
    }
    .advanced-search-mobile .single-search-inner .form-control::-webkit-input-placeholder {
        color: #ffffff !important;
    }
    .top-bar {
        background-color: #000000;
    }
    .top-bar .top-nav > ul > li > a:hover,
    .top-bar .top-nav > ul li.active > a,
    .top-bar .top-nav > ul ul a:hover,
    .top-contact a:hover,
    .top-bar .dropdown-menu > li:hover,
    .top-contact li .btn:hover {
        color: rgba(0,174,239,0.75);
    }
    .top-contact a,
    .top-contact li,
    .top-contact li .btn,
    .top-bar .top-nav > ul > li > a {
        color: #ffffff;
    }
    .top-bar .mobile-nav .nav-trigger {
        color: #FFFFFF;
    }


    #sidebar .widget_tag_cloud .tagcloud a,
    .article-footer .meta-tags a,
    .pagination-main .pagination li.active a,
    .other-features .btn.btn-secondary,
    .my-menu .active a,        
    .houzez-module .module-title-nav .module-nav .btn,
    .houzez-module .module-title-nav .module-nav .fave-load-more a,
    .fave-load-more .houzez-module .module-title-nav .module-nav a {
        color: #fff;
        background-color: #00aeef;
        border: 1px solid #00aeef;
    }
    .plan-tabs li.active {
        box-shadow: inset 0 4px 0 #00aeef;
        border-top-color: #00aeef;
        background-color: #fff;
        color: #00aeef;
    }
    .btn-primary,        
    .label-primary,
    .scrolltop-btn {
        color: #fff;
        background-color: #00aeef;
        border-color: #00aeef;
    }
    .btn-primary.btn-trans{
        color: #00aeef;
    }
    .header-section-2 .header-top-call {
        color: #ffffff;
        background-color: #00aeef;
    }
    .header-section-2 .avatar {
        color: #ffffff;
    }
    @media (max-width: 991px) {
        .header-section-2 .header-top {
            background-color: #00aeef;
        }
    }

    .item-thumb .hover-effect:before,
    figure .hover-effect:before,
    .carousel-module .carousel .item figure .hover-effect:before,
    .item-thumb .slideshow .slideshow-nav-main .slick-slide:before,
    .slideshow .slideshow-nav-main .item-thumb .slick-slide:before,
    figure .slideshow .slideshow-nav-main .slick-slide:before,
    .slideshow .slideshow-nav-main figure .slick-slide:before {
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(0,0,0,.75) 100%);
    }
    .slideshow .slide .slick-prev:hover,
    .slideshow .slideshow-nav .slick-prev:hover,
    .slideshow .slide .slick-next:hover,
    .slideshow .slideshow-nav .slick-next:hover,
    .slideshow .slide .slick-prev:focus,
    .slideshow .slideshow-nav .slick-prev:focus,
    .slideshow .slide .slick-next:focus,
    .slideshow .slideshow-nav .slick-next:focus
    .item-thumb:hover .hover-effect:before,
    figure:hover .hover-effect:before,
    .carousel-module .carousel .item figure:hover .hover-effect:before,
    .item-thumb:hover .slideshow .slideshow-nav-main .slick-slide:before,
    .slideshow .slideshow-nav-main .item-thumb:hover .slick-slide:before,
    figure:hover .slideshow .slideshow-nav-main .slick-slide:before,
    .slideshow .slideshow-nav-main figure:hover .slick-slide:before,
    .item-thumb:hover .hover-effect:before,
    figure:hover .hover-effect:before,
    .carousel-module .carousel .item figure:hover .hover-effect:before,
    .item-thumb:hover .slideshow .slideshow-nav-main .slick-slide:before,
    .slideshow .slideshow-nav-main .item-thumb:hover .slick-slide:before,
    figure:hover .slideshow .slideshow-nav-main .slick-slide:before,
    .slideshow .slideshow-nav-main figure:hover .slick-slide:before {
        color: #fff;
        background-color: rgba(255,255,255,.5);
    }
    .figure-grid .detail h3,
    .detail-above.detail h3 {
        color: #fff;
    }
    .detail-bottom.detail h3 {
        color: #000;
    }
    .agent-contact a {
        font-weight: 700;
    }
    label {
        font-weight: 400;
        font-size: 14px;
    }
    .label-status {
        background-color: #333;
        font-weight: 700;
    }
    .read .fa {
        top: 1px;
        position: relative;
    }            
    .label-primary,
    .fave-load-more a,
    .widget_tag_cloud .tagcloud a,
    .pagination-main .pagination li.active a,
    .other-features .btn.btn-secondary,
    .my-menu .active am {
        font-weight: 500;
    }       

    /*.features-list {
        padding-bottom: 15px;
    }*/
    .advanced-search .advance-btn i {
        float: inherit;
        font-size: 14px;
        position: relative;
        top: 0px;
        margin-right: 6px;
    }
    @media (min-width: 992px) {
        .advanced-search .features-list .checkbox-inline {
            width: 14%;
        }
    }

    .white-block {
        padding: 40px;
    }
    .wpb_text_column ul,
    .wpb_text_column ol {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    #sidebar .widget_houzez_latest_posts img {
        max-width: 90px;
        margin-top: 0;
    }
    #sidebar .widget_houzez_latest_posts .media-heading,
    #sidebar .widget_houzez_latest_posts .read {
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
    }        
    #sidebar .widget-range .dropdown-toggle,
    .bootstrap-select.btn-group,        
    .search-long .search input,
    .advanced-search .search-long .advance-btn,        
    .splash-search .dropdown-toggle {
        font-weight: 400;
        /*xcolor: #959595 !important;*/
        font-size: 15px;
    }

    .advanced-search .input-group .form-control {
        border-left-width: 0;
    }        
    .location-select {
        max-width: 170px;
    }             

    .vegas-overlay {
        opacity: 1;
        background-image: url(http://houzez01.favethemes.com/wp-content/uploads/2016/03/bg-video-1.png);
    }
    .label-color-289 {
        background-color: #dd3333;
    }

    .label-color-288 {
        background-color: #ea923a;
    }

    .user-dashboard-left,
    .board-header-4{
        background-color:#00365e;
    }
    .board-panel-menu > li a,
    .board-header-4 .board-title,
    .board-header-4 .breadcrumb > .active,
    .board-header-4 .breadcrumb li:after,
    .board-header-4 .steps-progress-main{ 
        color:#ffffff; 
    }
    .board-panel-menu > li.active {
        color: #4cc6f4;
    }
    .board-panel-menu .sub-menu {
        background-color: #002B4B;
    }
    .board-panel-menu .sub-menu > li.active > a, .board-panel-menu > li a:hover {
        color: #4cc6f4;
    }

    #ihf-main-container .btn-primary, 
    #ihf-main-container .ihf-map-search-refine-link,
    #ihf-main-container .ihf-map-search-refine-link {
        background-color: #ff6e00;
        border-color: #ff6e00;
        color: #fff;
    }
    #ihf-main-container .btn-primary:hover, 
    #ihf-main-container .btn-primary:focus, 
    #ihf-main-container .btn-primary:active, 
    #ihf-main-container .btn-primary.active {
        background-color: rgba(255,110,0,1);
    }
    #ihf-main-container a {
        color: #00aeef;       
    }
    .ihf-grid-result-basic-info-container,
    #ihf-main-container {
        color: #000000;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: none;
    }
    #ihf-main-container .fs-12,
    .ihf-tab-pane,
    #ihf-agent-sellers-rep,
    #ihf-board-detail-disclaimer,
    #ihf-board-detail-updatetext  {
        font-size: 16px;
    }
    #ihf-main-container .title-bar-1,
    .ihf-map-icon{
        background-color: #00aeef;
    }
    .ihf-map-icon{
        border-color: #00aeef;
    }
    .ihf-map-icon:after{
        border-top-color: #00aeef;
    }
    #ihf-main-container h1, 
    #ihf-main-container h2, 
    #ihf-main-container h3, 
    #ihf-main-container h4, 
    #ihf-main-container h5, 
    #ihf-main-container h6, 
    #ihf-main-container .h1, 
    #ihf-main-container .h2, 
    #ihf-main-container .h3, 
    #ihf-main-container .h4, 
    #ihf-main-container .h5, 
    #ihf-main-container .h6,
    #ihf-main-container h4.ihf-address,
    #ihf-main-container h4.ihf-price  {
        font-family: Roboto;
        font-weight: 500;
        text-transform: inherit;
        text-align: inherit;
    }
    /* .advanced-search .features-list .checkbox-inline { color:#ffffff; } */
    .advanced-search-mobile {
        position: relative;
        z-index: 10;
    }
    .advanced-search-module {
        z-index: 10; 
    }
    .module-half .property-listing .item-wrap:nth-child(2n+1) {
        clear: both;
    }
    .module-half .save-btn { display:none; }
    /* Advanced searches color adjustments
    ------------------------------------ */
    .page-id-1626 .range-text p,
    .page-id-1626 .range-title,
    .page-id-1626 .min-price-range, 
    .page-id-1626 .max-price-range,
    .page-id-1063 .range-text p,
    .page-id-1063 .range-title,
    .page-id-1063 .min-price-range, 
    .page-id-1063 .max-price-range,
    .page-id-1063 .checkbox-inline,
    .page-id-558 .range-text p,
    .page-id-558 .range-title,
    .page-id-558 .min-price-range, 
    .page-id-558 .max-price-range,
    .page-id-558 .checkbox-inline,
    .module-half .features-list .checkbox-inline {
        color: #000 !important;
    }
    /* NEW label for menus
    ------------------------------------ */
    .navi > ul ul li.new-feature a:after{
        content: 'NEW';
        color: #fff;
        border-radius: 3px;
        font-size: 10px;
        padding: 4px 6px 4px;
        text-transform: uppercase;
        margin-bottom: 0;
        display: inline-block;
        line-height: 11px;
        vertical-align: top;
        background-color: #77c720;
        margin-left: 10px;
    }
    #singlePropertyMap > div{
        position: absolute !important;
    }
    .packages-no-padding div[class^="col-"]{
        padding-right: 0;
        padding-left: 0;
    }
    .navi .houzez-megamenu > .sub-menu .sub-menu a {
        font-weight: inherit;
    }
    .profile-properties .property-listing.grid-view .item-wrap:nth-child(3n+1) { 
        clear:both; 
    }
    .qr-image,
    span.user-name { 
        display:none !important; 
    }
    .banner-video-inner:before {
        background-image: url(http://houzez01.favethemes.com/wp-content/uploads/2016/03/bg-video-1.png);    
    }
    .splash-inner-content .nav-trigger,
    .splash-inner-content .header-mobile .user a {
        color: #fff;
    }
    .splash-inner-content .header-mobile .user a i {
        font-size: 16px;
        top: 5px;
        position: relative;
    }
    .team-block-mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    @media (max-width: 768px) {
        .team-block:hover .team-caption-before,
        .team-block:hover .team-caption-after,
        .team-caption-before,
        .team-caption-after{
            transform: none;
        }
        .team-caption-after {
            display: none;
        }
    }
    
    
    
  